.sidebar {
    height: 100%;
    border-right: 3px solid black;
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    margin-top: 1em;
}

.sidebar a {
    margin-top: 50%;
}

.sidebar > div {
    margin-top: 100%;
}

.sidebar .LinkButton {
  background-color: #1fc8db;
  height: 25px;
  width: 80px;
}

.sidebar .LinkButton .clickable {
  color: white;
}

.selectedView {
    background-color: green;
}
