.Quest {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Quest .loading img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

.Quest .MenuToggler {
  width: 80%;
}

.Quest .MenuToggler .option {
  margin: 0.5em;
  text-decoration: underline;
}

.Quest .MenuToggler  .menuItem{
  margin: 0.2em;
}
.Quest .QuestItem {
  width: 100%;
}

.Quest > .MenuToggler .QuestItem img{
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  align-self: center;
}
.Quest > .MenuToggler .QuestItem h3{
  padding-left: 0.3em;
  min-width: 40%;
  max-width: 40%;
  margin: 0;
}
.Quest > .MenuToggler .QuestItem p{
  text-align: center;
  width:26%;
  margin: 0;
  font-weight: 400;
}
.Quest > .MenuToggler .QuestItem .LinkButton{
  max-width: 24%;
  min-width: 24%;
  max-height: 40px;
  background-color: #52D158;
  font-weight: bold;
}
.Quest > .MenuToggler .QuestItem .LinkButton .clickable{
  color: white;
}

@media screen and (max-width: 500px) {
  .Quest > .MenuToggler .QuestItem p{
    text-align: center;
    width: 36%;
    font-size: 90%;
    font-weight: bold;
  }
  .Quest > .MenuToggler .QuestItem h3{
    font-size: 90%;
    min-width: 30%;
    max-width: 30%;
  }
}
