.createProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.createProfile img {
    margin-bottom: 0;
}

.createProfile ul li {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
}

.createProfile ul li span {
    margin-left: 0.5em;
    font-size: 1em;
}

.createProfile ul {
    padding: 1em;
    margin-bottom: 2em;
}

.createProfile .LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 70px;
  height: 35px;
  padding: 8.5px 0 8.5px 0;
  border: 2px solid #66fcf1;
}

.createProfile .LinkButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.createProfile .LinkButton a {
  color: white;
}

.createProfile h2 {
    text-align: center;
}