.createProfile .userCreator {
    margin: 1em 0em 0em 0em;
}

.createProfile .userCreator input{
    margin-bottom: 16px;
}

.createProfile .userCreator {
    width: 100%;
}

.createProfile .userCreator .profileStarters {
    width: 357px;
    height: 130px;
    display: flex;
    justify-content: center;
    border: 3px solid white;
    background-color: white;
    margin: 1em 0 1em 0;
    box-shadow: 0 8px 16px 0 rgba(89, 163, 224, 0.4), 0 6px 20px 0 rgba(5, 27, 88, 0.2);
    border-radius: 8px;
}

.createProfile .userCreator img {
    height: 96px;
    border-radius: 4px;
    align-self: center;
    filter: brightness(66%);
}

.createProfile .userCreator img:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.createProfile .userCreator .img-Selected {
    height: 112px;
    width: 112px;
    border-radius: 4px;
    align-self: center;
    box-shadow: 2px 2px 2px 1px rgba(8, 35, 56, 0.4);
    background-color: rgb(161, 182, 209);
    filter: brightness(100%);
}

.createProfile .userCreator button {
    max-width: 160px;
    align-self: center;
    width: 100%;
}

.createProfile .userCreator .signUp input {
    margin-top: 4px;
}

.createProfile .signUp form{    
    display: flex;
    flex-direction: column;

}

.createProfile .userCreator b {
    margin: 1em 0 1em 0;
}

.createProfile .userCreator {
    background-color: #1A212A;
    border-radius: 25px;
    -moz-box-shadow:    1px 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px 1px black;
    box-shadow:         1px 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 1em 0 2em 0;
}

.createProfile  .signUp form button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.createProfile .userCreator .pImgAndUsername{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createProfile .userCreator .pImgAndUsername > img:first-child{
    width: 96px;
    height: auto;
    border: 3px solid royalblue;
    background-color: white;
    margin-bottom: 1em;
    filter: brightness(100%);
    cursor: default;
}

.createProfile .userCreator .starterText {
    align-self: center;
}

@media only screen and (max-width: 470px){
    .createProfile .userCreator {
        max-width: calc(100% - 24px);
    }
}

@media only screen and (max-width: 400px) {
    .createProfile .userCreator .profileStarters {
        flex-direction: column;
        width: auto;
        height: auto;
    }
}