.login {
    align-self: center;
    display: flex;
    flex-direction: column; 
}

.login p {
  text-align: center;
}

.login .loginContainer {
  background-color: #1A212A;
  border-radius: 25px;
  -moz-box-shadow:    1px 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  box-shadow:         1px 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 5em 2em 5em;
}

.login .loginContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login .loginContainer form p {
  align-self: center;
}

.login .loginContainer form input {
  margin-top: 4px;
  margin-bottom: 1em;
}
.login .loginContainer form button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 4px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login .LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 70px;
  height: 35px;
  border: 2px solid #66fcf1;
  align-self: center;
}
.login .LinkButton:hover {
  opacity: 0.7;
  cursor: pointer;
}
.login .LinkButton a {
  color: white;
}

@media only screen and (max-width: 300px) {
  .login .loginContainer {
    padding: 2em 2em 2em 2em;
  }
}

@media only screen and (max-width: 190px) {
  .login .loginContainer {
    padding: 2em 1em 2em 1em;
  }
}