.shop {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.shop .MenuToggler {
    background-color: white;
    width: 80%;
}

.shop .MenuToggler .option {
    margin: 1em;
}