.Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.Profile > .ProfileOverview {
  margin-top: 1em;
}

.Profile > .ProfileOverview {
  width: 60%;
  max-width: 555px;
  height: 15%;
}

.Profile > .ProfileOverview > .Avatar {
  width: 40%;
  max-width: 130px;
  height: 110%;
}

.Profile .ProfileOverview > .CharacterInformation {
  width: 55%;
  height: 100%;
}

.Profile .MenuToggler{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Profile .RosterView .MenuToggler > #options > .option{
  margin: 0.5em;
}

.Profile .RosterView .MenuToggler > #menuItems > .menuItem{
  margin: 0.2em;
}

.Profile > .ProfileOverview > .Avatar {
  position: relative;
  top: -20px;
  left: -20px;
}
@media screen and (max-width: 500px) {
  .Profile > .ProfileOverview {
    width: 80%;
    height: 13%;
  }
}
