.Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.Profile .Popup > .popupContent{
  background-color: red;
  border: red solid 2px;
  width: 300px;
}
.Profile .Popup > .popupContent h3{
  margin: 0.2em;
  color: white;
}
.Profile .Popup .ConfirmWindow p {
 padding: 0.5em;
}
.Profile .Popup .ConfirmWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.Profile .Popup .ConfirmWindow .clickable {
  background-color: #687D69;
  color: white;
  width: 80px;
}

.Profile .Popup > div:nth-child(1) h3:nth-of-type(2){
  height: 25px;
  width: 30px;
  text-align: center;
  background-color: black;
}
.Profile > .ProfileOverview {
  margin-top: 1em;
}

.Profile > .ProfileOverview {
  width: 60%;
  max-width: 555px;
  height: 15%;
  max-height: 92px;
}

.Profile > .ProfileOverview > .Avatar {
  width: 40%;
  max-width: 130px;
  height: 120%;
}

.Profile .ProfileOverview > .CharacterInformation {
  width: 55%;
  height: 100%;
}

.Profile .MenuToggler{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Profile .MenuToggler > #options > .option{
  margin: 0.5em;
}

.Profile .MenuToggler > #menuItems > .menuItem{
  margin: 0.2em;
}

.Profile .Popup .MenuToggler {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Profile .ConfirmWindow > p {
  margin: 1em;
}

.Profile .Popup .MenuToggler > #options {
  background-color: pink;
}

.Profile .Popup .MenuToggler > #menuItems {
  background-color: white;
}

.Profile > .ProfileOverview h3 {
  margin: 0.05em;
  padding: 0;
  color: white;
}

.Profile > .ProfileOverview > .Avatar {
  position: relative;
  top: -20px;
  left: -25px;
}
.Profile .Popup {
  width: 300px;
}
.Profile .Popup > div:nth-child(1){
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  width: 300px;
  color: white;
}
.Profile .Popup .ConfirmWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 100px;
  border-color: #1fc8db;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
}

.Profile .Popup .ConfirmWindow .clickable {
  background-color: #1fc8db;
  color: white;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.Profile .Popup > div:nth-child(1) h3:nth-of-type(2){
  height: 25px;
  width: 30px;
  text-align: center;
  background-color: black;
}
.Profile .Popup > div:nth-child(1) h3{
  margin: 0.3em;
}
@media screen and (max-width: 500px) {
  .Profile > .ProfileOverview {
    width: 80%;
    height: 13%;
  }
}
