.Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Profile > .ProfileOverview {
  margin-top: 1em;
}

.Profile > .ProfileOverview {
  width: 60%;
  max-width: 555px;
  height: 15%;
  min-height: 80px;
  max-height: 92px;
}

.Profile > .ProfileOverview > .Avatar {
  width: 40%;
  max-width: 130px;
  height: 120%;
}

.Profile .ProfileOverview > .CharacterInformation {
  width: 55%;
  height: 100%;
}

.Profile .MenuToggler{
  width: 60%;
  max-height: 98%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.Profile .MenuToggler > #options > .option{
  margin: 0.5em;
}

.Profile .MenuToggler > #menuItems > .menuItem{
  margin: 0.2em;
}

.Profile .RosterView #menuItems {
 max-height: calc(100% - 38px);
}

.Profile .RosterView .MenuToggler {
  height: 95%;
}

.Profile .ConfirmWindow > p {
  margin: 1em;
}

.Profile > .ProfileOverview h3 {
  margin: 0.05em;
  padding: 0;
  color: white;
}

.Profile > .ProfileOverview > .Avatar {
  position: relative;
  top: -20px;
  left: -25px;
}

@media screen and (max-width: 500px) {
  .Profile > .ProfileOverview {
    width: 80%;
    height: 13%;
  }
}
