#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App > .PokeHeader {
  height: 15%;
}

.App > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 100%;
}

.App > div:nth-of-type(2) > div:nth-of-type(2){
    flex: 0.9;
  }
