#root {
    height: 100%;
    background-color: #1f2833;
    color: white;
}

/*
// width
::-webkit-scrollbar {
  width: 20px;
}

// Track
::-webkit-scrollbar-track {
  background: #232427;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #0b0c10;
}

// Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/

.App {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.App .PokeHeader {
  height: 15%;
}

.App > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Loading {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

.App .Loading img {
  width: 80px;
  height: 80px;
}

.App > div:nth-of-type(2) > div:nth-of-type(2){
  height: 85%;
}

.App .PokeHeader {
  text-align: center;
}

/****GLOBAL RULES FOR CharacterInformation***/
.CharacterInformation > div:nth-of-type(1) h3:nth-child(2){
  margin-left: auto;
}

/***GLOBAL RULES FOR ProfileOverview IN MenuToggler***/
.MenuToggler .ProfileOverview{
  width: 100%;
  max-width: 400px;
  height: 50px;
}

.MenuToggler .ProfileOverview .Avatar  img {
  position: relative;
  left: -32px;
  top: -36px;
  width: 121px;
  height: 121px;
}

.MenuToggler .CharacterInformation {
  width: 55%;
  height: 100%;
}

.MenuToggler .ProfileOverview .CharacterInformation .Bar {
  margin-left: 1em;
  margin-bottom: 0.1em;
}

.MenuToggler .ProfileOverview .Avatar {
  display: flex;
  width: 20%;
}

.MenuToggler .CharacterInformation h3 {
  margin: 0.05em;
  margin-left: 16px;
  padding: 0;
  color: white;
  font-size: 50%;
}

.Profile .MenuToggler .menuItem, .QuestDetails .MenuToggler .menuItem{
  margin: 0.2em;
}

.Profile .MenuToggler, .QuestDetails .MenuToggler{
  max-width: 400px;
}


/***SEMI GLOBAL MENU_TOGGLER RULE***/
.Profile .RosterView > .MenuToggler , .Quest .MenuToggler {
    background-color: #1A212A;
    border-radius: 25px;
    -moz-box-shadow:    1px 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px 1px black;
    box-shadow:         1px 1px 1px 1px black;
}

.Profile .selected, .Quest .selected{
  margin: 0.5em;
  text-decoration: underline;
}


@media screen and (max-width: 500px) {
  .App .MenuToggler {
    width: 90%;
  }
  .App{
    flex-direction: column-reverse;
  }
  .App .sidebar {
    flex-direction: row;
    height: 10%;
    width: 100%;
    border-right: none;
    border-top: 3px black solid;
    justify-content: center;
    align-items: center;
  }
  .App .sidebar a, .App .sidebar > div{
    margin-top: 0;
  }
  .App .sidebar img{
    display: none;
  }

  .App .sidebar > * {
    margin: 0.5em;
  }
}
